Repository AndreiHudovich/hudovich.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run typecheck, npm run lint, npm run prettier

fix: close mobile nav after link clicked
  components/layout/TheHeader.vue
  components/layout/TheNavigation.vue
Due: npm run typecheck, npm run lint, npm run prettier

fix: fix links outline when focused
  components/layout/TheFooter.vue
  components/layout/TheNavigation.vue
Due: npm run typecheck, npm run lint, npm run prettier

feat: add BaseButton hover effect
  components/ui/BaseButton.vue
Due: npm run typecheck, npm run lint, npm run prettier

feat: add pages metadata
  components/layout/TheNavigation.vue
  data/metadata.ts
  enums/Metadata.enums.ts
  pages/contact.vue
  pages/index.vue
  public/images/social-website-logo.png
Due: npm run typecheck, npm run lint, npm run prettier

feat: add sitemap and robots.txt
  nuxt.config.ts
  package-lock.json
  package.json
  public/robots.txt
Due: npm run typecheck, npm run lint, npm run prettier

fix: fix issue with content collapsing horizontally on iPad
  assets/styles/base/_general.scss
Due: none

fix: fix issue with mobile navigation
  components/layout/TheHeader.vue
Due: npm run typecheck, npm run lint, npm run prettier

feat: set ssr: true
  nuxt.config.ts
Due: npm run typecheck, npm run lint, npm run prettier

fix: update social image path
  enums/Metadata.enums.ts
Due: npm run typecheck, npm run lint, npm run prettier

fix: add empty og:description
  pages/index.vue
Due: npm run typecheck, npm run lint, npm run prettier

feat: add gtag
  package-lock.json
  package.json
  plugins/VueGtag.ts
Due: npm run typecheck, npm run lint, npm run prettier

fix: fix stale title issue
  pages/contact.vue
Due: npm run typecheck, npm run lint, npm run prettier

fix: fix stale title issue #2
  pages/contact.vue
  pages/index.vue
Due: npm run typecheck, npm run lint, npm run prettier

fix: add aria labels
  components/layout/TheHeader.vue
Due: npm run typecheck, npm run lint, npm run prettier

fix: fix gtag issue
  plugins/vue-gtag.client.ts
Due: npm run typecheck, npm run lint, npm run prettier

fix: error page
  error.vue
Due: npm run typecheck, npm run lint, npm run prettier

fix: fix error page #2
  error.vue
Due: npm run typecheck, npm run lint, npm run prettier

fix: fix error page #4
  error.vue
Due: npm run typecheck, npm run lint, npm run prettier

build: add content commit type
  .commitlintrc.json
Due: none

content: update resume.pdf
  public/resume.pdf
Due: none

content: update resume.pdf #2
  public/resume.pdf
Due: none

content: update work history
  components/sections/home/HomeWorkHistory.vue
  public/resume.pdf
Due: npm run typecheck, npm run lint, npm run prettier

chore: remove jump.js
  package-lock.json
  package.json
Due: none

chore: remove lint-staged.config.js ghost file
  lint-staged.config.js
Due: npm run lint, npm run prettier

build: update html minifier settings
  astro.config.mjs
Due: none

content: fix html minification issues
  src/components/layout/TheFooter.astro
  src/components/sections/home/HomeSkills.astro
Due: none

refactor: remove unused selector
  src/components/layout/TheHeader.astro
Due: none

content: remove dot
  src/components/sections/home/HomeWorkHistory.astro
Due: none

fix: add missing prop to BaseSectionHeader component
  src/components/ui/BaseSectionHeader.astro
Due: none

fix: fix issue with slot content styling
  src/assets/styles/utilities/_mixins.scss
Due: none

fix: fix issue with icons vertical placement
  src/components/sections/home/HomeSkills.astro
Due: none

feat: update sitemap url
  public/robots.txt
Due: none

build: add external prettierrc configuration
  .prettierrc.json
  package-lock.json
  package.json
Due: none

chore: disallow /~partytown urls in robots.txt
  public/robots.txt
Due: none

refactor: remove nuxt root selector
  src/assets/styles/base/_general.scss
Due: none

build: rename lint types command
  package.json
Due: none

build: update prettier version to be --save-exact
  package-lock.json
  package.json
Due: none

build: bump up @hudovich/prettier-config to v1.0.1
  package-lock.json
  package.json
Due: none

build: fix lint types command
  lint-staged.config.cjs
Due: none

Path conditions:
  npm run typecheck: any of: **/*.{ts,vue}
  npm run lint: any of: **/*.{js,ts,vue}
  npm run prettier: any of: **/*.{js,ts,vue}
